* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.section1 {
    position: relative;
    height: 100vh;
    background: url('https://th.bing.com/th/id/R.61b435ee1de6e163e966c9203f78bbf2?rik=HSopiODImBxy8Q&riu=http%3a%2f%2fwww.aidforum.org%2fimages%2fZero_Hunger_Pic.jpg&ehk=6HWDwZLVNZvImjJC7pO%2fQyKyEYOqS3qHnwSXjGmQ4h0%3d&risl=&pid=ImgRaw&r=0') center/cover no-repeat fixed;
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav-container {
    position: relative;
    z-index: 1;
}

.navbar {
    background-color:orange;
    padding: 10px 0;
    width: 100%;
    z-index: 1000;
    font-family: 'Noto Serif';
}

.nav-links {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.navbar-brand {
    font-size: 2.3rem;
    margin-left: 10px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(12, 9, 9);
    font-size: 15px;
}

.new-navbar{
    display: none;
}
.here{
    color:rgb(12, 11, 11);
}
.glad {
    line-height: 2;
}

.glad h2 {
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.glad p {
    font-size: 1.3rem;
}

.coming-soon {
    text-decoration: none;
    border: 2px solid black;
    color: black;
    padding: 2% 7% !important;
    border-radius: 25px;
}

.coming-soon:hover {
    background-color: black ;
    color: white;
}

.struggles .card {
    border: none;
    margin-bottom: 20px;
    /* Adjust the margin to control the gap between cards */
}

.whatsapp{
    text-decoration: none;
    color:black;
    padding:2% 7% !important;
    font-size: 1.3rem;
 }
 .whatsapplinks a{
       text-decoration: none ;
       color: black;
       font-size: 1.2rem;
 }
.whatsapplinks a{
    border-radius: 25px ;
    background-color: black;
    color: white;
    padding: 2% 4% !important;
}
 .socialmedia img{
    width:5%;
 }
 .socialmedia a{
    padding-left: 50px;
 }
 .signup{
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px 30px;
    background-color: black;
    text-decoration: none;
    color: white;
    font-family: 'Noto Serif';
 }
#emailInput{
    border: none;
    border-bottom-style: solid;
}
.text{
    background-color: black;
    padding: 40px;
}

/*left navbar code*/
.leftnavbar{
    background-color: whitesmoke;
    position: fixed;
    z-index: 1200;
    height: 100vh;
    width: 100%;
   
}
.close{
    float: right;
    margin-bottom: 10%;
    font-size: 1.8rem;
}
.leftnavbar .left-nav-links{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:30px
}
.left-nav-links a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem !important;
    font-family: 'Noto Serif';
}
.hidden-content {
        display: none;
    }
    #toggleIcon{
        color: white;
        font-size: 1.8rem;
    }

@media (max-width: 767px) {
    

    .navbar {
        display: none; 
    }

    .new-navbar {
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding:0px 20px
    }
}
@media (max-width:430px){
    #toggleIcon {
        font-size: 1.5rem;
    }
    .navbar-brand{
        font-size: 1.8rem;
    }
    .nav-container{
        padding: 0px 20px !important;        
    }
    .socialmedia img{
        width: 8vw;
    }
    .section1 {
        position: relative;
         height: 90vh; 
        background: url('atmanlogo.png') center/cover no-repeat fixed;
     background-size: 100% 100%;  
    }
    
    
}